

body{
    background-color: #42a873;
}

.login-page{
    width: 500px;
    height: 350px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    top: 12rem;
}

.form{
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

input{
    margin-bottom: 5px;
    padding: 10px;
    background-color: #e7e7e7;
}

.btn{
    margin-top: 15px;
    width: 190px;
    height: 30px;
    background-color: #00bc14;
}

a{
    text-decoration: none;
    color:#00bc14;
}

span{
    display: none;
}